<div class = "elinepanel">
  <h1>ELine Overview</h1>
  <form ng-submit="vm.saveEline(vm.mng.eline)">
    <div class="form-group" ng-hide="vm.mng.createMode">
      <label>ID</label><br/>
      <p>{{vm.mng.eline.id}}</p>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input required class="form-control" id="name" type="text" ng-value="vm.mng.eline.name" ng-model="vm.mng.eline.name">
    </div>
    <div class="form-group" ng-hide="vm.mng.createMode">
      <label>Backend Status</label><br/>
      <p>{{vm.mng.eline.backend_status}}</p>
    </div>
    <div class="form-group">
      <label for="cpi1">Connect point 1 ID</label>
      <input required class="form-control" id="cpi1" type="text" ng-value="vm.mng.eline.connect_point_1_id" ng-model="vm.mng.eline.connect_point_1_id">
    </div>
    <div class="form-group">
      <label for="cpi2">Connect point 2 ID</label>
      <input required class="form-control" id="cpi2" type="text" ng-value="vm.mng.eline.connect_point_2_id" ng-model="vm.mng.eline.connect_point_2_id">
    </div>
    <div class="form-group">
      <label for="bwps">Bandwidth Profile</label>
      <select required class="form-control"
              id="bwps"
              ng-model="vm.mng.eline.bwp"
              ng-options="bwp.name as bwp.name for bwp in vm.mng.bwps | orderBy: 'name'"
      >
      </select>
    </div>
    <div class="form-group">
      <label for="sitename">CORD Site Name</label>
      <input required class="form-control" id="sitename" type="text" ng-value="vm.mng.eline.cord_site_name" ng-model="vm.mng.eline.cord_site_name">
    </div>
    <div class="form-group">
      <label for="vlanids">Vlan IDs</label>
      <input required class="form-control" id="vlanids" type="text" ng-value="vm.mng.eline.vlanids" ng-model="vm.mng.eline.vlanids">
    </div>
    <div class="form-group" style="text-align: center">
      <button type="submit" class="btn btn-success btn-block">Save Changes</button>
    </div>
  </form>
  <button type="button" class="btn btn-danger btn-block" ng-click="vm.mng.elinePanel({}, vm.mng.eline, false)">Close</button>
  <button type="button" class = "btn btn-danger delete-eline" ng-click="vm.deleteEline(vm.mng.eline)">Delete Eline</button>
</div>